.nav{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 10vh;
    
    &__logo{
        width:20%;
    }
    
    &__menu{
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: space-between;  
        
        &__item{
            font-size: 16px;
            letter-spacing: 2px;
            margin: 0;
            text-decoration: none;
            color: black;
        }
        
        &__item:hover{
            transition: color .2s ease;
            color:#81d8d0;
            cursor: pointer;
        }
    }
}